body{
  display: flex;
  justify-content: center;
  background-color: rgb(48, 48, 45);
  
}
.timetable-container {
  font-family: Arial, sans-serif;
  max-width: 450px;
  margin: 30px auto;
}

.timetable-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.timetable-header h2 {
  margin: 0;
}

.timetable-header span {
  font-size: 14px;
  color: #00796b;
}

.timetable-header button {
  background: #007bff;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.schedule {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
  padding: 12px;
  border-radius: 8px;
  color: white;
   width: 300px;  
}

.card .time {
  font-size: 12px;
  opacity: 0.9;
}

.card .subject {
  font-size: 16px;
  font-weight: bold;
}

.subject{
  max-width: 230px;
}

@media only screen and (min-width : 1024px){

  .timetable-container {
    max-width: 900px;
  }

  .ins{
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .card{
    width: 80%;
  }

  .card .subject {
    font-size: 18px;
    max-width: 700px;
  }
  .timetable-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .schedule{
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .timetable-header{
    align-self: center;
    width: 500px;
  }

  .my{
    width: 700px;
  }
}
